# Foundations 
This file is a culimation of all beginner level code to understand python and get started with it.

# Day 1 : Installation I/O and Variables

## Input

In [1]:
# Taking inputs
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

# Taking multiple inputs
x, y, z = input("Enter three values").split()
print("The total number of students : ", x)
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

# Typecasting input into int
n = int(input("How many roses?: "))
print(n)

Hello, Naveen ! Welcome!
The total number of students :  12
Hello, Naveen ! Welcome!
12

## Output

In [2]:
# Finding Data Types
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [4]:
# Output formatting

# Using format()
amount = 150.75
print("Amount: ${:.2f}".format(amount))

# Using sep and end
# end Parameter with '@'
print("Python", end='@')
print("GeeksforGeeks")
# Seprating with Comma
print('G', 'F', 'G', sep='')
# for formatting a date
print('09', '12', '2016', sep='-')
# another example
print('pratik', 'geeksforgeeks', sep='@')

# Using fstring
name = 'Tushar'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

# Using % operator
# Taking input from the user
num = int(input("Enter a value: "))
add = num + 5
# Output
print("The sum is %d" %add)

Amount: $150.75
Python@GeeksforGeeks
GFG
09-12-2016
pratik@geeksforgeeks
Hello, My name is Tushar and I'm 23 years old.
The sum is 17

## Variable

In [5]:
# Variables usage
age = 21
_colour = "lilac"
total_score = 90
print(age, _colour, total_score)

21 lilac 90

In [6]:
# Assigning values

#Basic Assignment
x = 5
y = 3.14
z = "Hi"
print(x,y,z)

#Dynamic Typing
x = 10
x = "Now a string"
print(x)

# Multiple assignment
a = b = c = 10
print (a, b, c)
x, y, z = 1, 1.25, "Python"
print(x, y, z)

5 3.14 Hi
Now a string
10 10 10
1 1.25 Python

## Keyword

In [7]:
# Deleting a keyword

# Assigning value to variable
x = 10
print(x) 
# Removing the variable using del
del x
# Trying to print x after deletion will raise an error
# print(x)  # Uncommenting this line will raise NameError: name 'x' is not defined

10

In [8]:
# Practical Examples
#Swapping 2 variables
a, b = 5, 10
a, b = b, a
print(a, b)

# Counting characters
word = "Python"
length = len(word)
print("Length of the word:", length)

10 5
Length of the word: 6

In [11]:
# Kwywords are words with reserve meaning
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

# Identifiers are names given to variables, classes etc.

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Day 2 Python Data Types and Opearators

## Operators
1. Airthmetic
2. Conditional
3. Logical
4. Unary
5. Binary
6. Ternary

In [15]:
# Airthmetic Operators - Perform basic mathematical opeartions
a = 15
b = 4

# Addition
print("Addition:", a + b)  

# Subtraction
print("Subtraction:", a - b) 

# Multiplication
print("Multiplication:", a * b)  

# Division
print("Division:", a / b) 

# Floor Division
print("Floor Division:", a // b)  

# Modulus
print("Modulus:", a % b) 

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

In [16]:
# Compasrison Operators - It comapares the values relation and give answer in boolean
a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [17]:
# Logical Opearators - Perform logical AND, OR and NOT and gives answer in boolean
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [18]:
# Bitwise Operators - Acts on bits and perform bit by bit operators
a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [19]:
# Assignment Operators - Assign values to the variables
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

In [20]:
# Identity Operators - Used to check if two values are located on the same aprt of the memory
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [84]:
# Membership Opearators - used to check whether a value or variable is in a sequence or not
x = 24
y = 20
my_list = [10, 20, 30, 40, 50]

if (x not in my_list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in my_list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [22]:
# Ternary operator - called conditional expressions that evaluate something being true or false
a, b = 10, 20
min = a if a < b else b

print(min)

10

In [23]:
# Operator Precedance - Priority of operator
expr = 10 + 20 * 30
print(expr)
name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2:
    print("Hello! Welcome.")
else:
    print("Good Bye!!")

# Operator Associativity - used to deternmine the precedance of code 
print(100 / 10 * 10)
print(5 - 2 + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)

610
Hello! Welcome.
100.0
6
0
512

In [24]:
# Excercise Questions 1 - Code to imlement airthmatic operators
num1 = 5
num2 = 2

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
remainder = num1 % num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)
print("Remainder:", remainder)

Sum: 7
Difference: 3
Product: 10
Quotient: 2.5
Remainder: 1

In [25]:
# Excercise Questions 2 - Implementing Comparisons on Integer
num1 = 30
num2 = 35

if num1 > num2:
    print("The first number is greater.")
elif num1 < num2:
    print("The second number is greater.")
else:
    print("The numbers are equal.")

The second number is greater.

## Data Types
1. Numeric - int, float, complex
2. Sequence Type - string, list, tuple
3. Mapping Type - dict
4. Boolean - bool
5. Set Type - set, frozenset
6. Binary Types - bytes, bytearray, memoryview

In [26]:
# Numerical Data Types
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
# Sequence Data Types

# String
s = 'Welcome to the Geeks World'
print(s)
# check data type 
print(type(s))
# access string with index
print(s[1])
print(s[2])
print(s[-1])

# List
# Empty list
a = []
# list with int values
a = [1, 2, 3]
print(a)
# list with mixed int and string
b = ["Geeks", "For", "Geeks", 4, 5]
print(b)
a = ["Geeks", "For", "Geeks"]
print("Accessing element from the list")
print(a[0])
print(a[2])
print("Accessing element using negative indexing")
print(a[-1])
print(a[-3])

# Tuple
# initiate empty tuple
tup1 = ()
tup2 = ('Geeks', 'For')
print("\nTuple with the use of String: ", tup2)
tup1 = tuple([1, 2, 3, 4, 5])
# access tuple items
print(tup1[0])
print(tup1[-1])
print(tup1[-3])

Welcome to the Geeks World
<class 'str'>
e
l
d
[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]
Accessing element from the list
Geeks
Geeks
Accessing element using negative indexing
Geeks
Geeks

Tuple with the use of String:  ('Geeks', 'For')
1
5
3

In [28]:
# Boolean Data Type
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [29]:
# Set Data Type
# initializing empty set
s1 = set()
s1 = set("GeeksForGeeks")
print("Set with the use of String: ", s1)
s2 = set(["Geeks", "For", "Geeks"])
print("Set with the use of List: ", s2)

# As set are unordered you need to loop over them
set1 = set(["Geeks", "For", "Geeks"])
print(set1)
# loop through set
for i in set1:
    print(i, end=" ")
# check if item exist in set    
print("Geeks" in set1)

Set with the use of String:  {'F', 'r', 'e', 'o', 'k', 's', 'G'}
Set with the use of List:  {'For', 'Geeks'}
{'For', 'Geeks'}
For Geeks True

In [32]:
# Dictionary Data Type
# initialize empty dictionary
d = {}
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

# creating dictionary using dict() constructor
d1 = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print(d1)

d = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
# Accessing an element using key
print(d['name'])
# Accessing a element using get (It does not give error but None if the key is missing)
print(d.get(3))

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}
For
Geeks

## Data Type Exercise Questions

In [33]:
# Implement basic list operations
fruits = ["apple", "banana", "orange"]
print(fruits)
fruits.append("grape")
print(fruits)
fruits.remove("orange")
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'grape']

In [34]:
# Code to implement basic tuple
coordinates = (3, 5)
print(coordinates)
print("X-coordinate:", coordinates[0])
print("Y-coordinate:", coordinates[1])

(3, 5)
X-coordinate: 3
Y-coordinate: 5

## Conditional Statement

In [36]:
# Using if
age = 19
if age > 18: print("Eligible to Vote.")

Eligible to Vote.

In [39]:
# Using If and else
age = 10

if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

marks = 45
res = "Pass" if marks >= 40 else "Fail"

print(f"Result: {res}")

Travel for free.
Result: Pass

In [41]:
# Using Elif
age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

In [43]:
# Nested If Statmements
age = 70
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

30% senior discount!

In [45]:
# Ternary Condition in Python
# Assign a value based on a condition
age = 20
s = "Adult" if age >= 18 else "Minor"

print(s)

Adult

In [46]:
# Match is th python's case of switch case 
number = 2

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three

In [47]:
def checkOddEven(x):
    if (x % 2 == 0):
        # Complete the statement below
        return "Even"

    else:
        # Complete the statement below
        return "Odd"

checkOddEven(1)

'Odd'

# Day 3: Loops, Functions and Basic OOPs

## For Loop

In [48]:
# For Loop
li = ["geeks", "for", "geeks"]
for i in li:
    print(i)
    
tup = ("geeks", "for", "geeks")
for i in tup:
    print(i)
    
s = "Geeks"
for i in s:
    print(i)
    
d = dict({'x':123, 'y':354})
for i in d:
    print("%s  %d" % (i, d[i]))
    
set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
    print(i),

geeks
for
geeks
geeks
for
geeks
G
e
e
k
s
x  123
y  354
1
2
3
4
5
6

In [49]:
# For with index
li = ["geeks", "for", "geeks"]
for index in range(len(li)):
    print(li[index])

geeks
for
geeks

In [50]:
# Else wiyth for
li = ["geeks", "for", "geeks"]
for index in range(len(li)):
    print(li[index])
else:
    print("Inside Else Block")

geeks
for
geeks
Inside Else Block

## While Loop

In [51]:
cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [52]:
cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print("Hello Geek")
else:
    print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

In [53]:
from __future__ import print_function
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

## Loop control Statment

In [54]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print('Current Letter :', letter)

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [55]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        break

print('Current Letter :', letter)

Current Letter : e

In [56]:
for letter in 'geeksforgeeks':
    pass
print('Last Letter :', letter)

Last Letter : s

## Functions

In [57]:
# Functions
def evenOdd(x: int) ->str:
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"

print(evenOdd(16))
print(evenOdd(7))

Even
Odd

In [58]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)


print("Case-1:")
nameAge("Suraj", 27)

print("\nCase-2:")
nameAge(27, "Suraj")

Case-1:
Hi, I am Suraj
My age is  27

Case-2:
Hi, I am 27
My age is  Suraj

In [59]:
# To use the docstring
def evenOdd(x):
    """Function to check if the number is even or odd"""
    
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")


print(evenOdd.__doc__)

Function to check if the number is even or odd

In [62]:
# Arguments 
def myFun(*argv):
    for arg in argv:
        print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [64]:
# Anonymous Functions - made by Lambda
def cube(x): return x*x*x   # without lambda

cube_l = lambda x : x*x*x  # with lambda

print(cube(7))
print(cube_l(7))

s1 = 'GeeksforGeeks'

s2 = lambda func: func.upper()
print(s2(s1))

343
343
GEEKSFORGEEKS

In [63]:
# Recursive Function
def factorial(n):
    if n == 0:  
        return 1
    else:
        return n * factorial(n - 1) 
      
print(factorial(4))

24

In [65]:
# Comparison of def and lambda keyword
# Using lambda
sq = lambda x: x ** 2
print(sq(3))

# Using def
def sqdef(x):
    return x ** 2
print(sqdef(3))

9
9

In [85]:
# Example: Double each number in a list
a = [1, 2, 3, 4]
b = map(lambda x: x * 2, a)
print(list(b))

TypeError: 'list' object is not callable

In [86]:
from functools import reduce

# Example: Find the product of all numbers in a list
a = [1, 2, 3, 4]
b = reduce(lambda x, y: x * y, a)
print(b)

24

## OOPS
1. Class in Python
2. Objects in Python
3. Polymorphism in Python
4. Encapsulation in Python
5. Inheritance in Python
6. Data Abstraction in Python

In [88]:
class Dog:
    # Class variable
    species = "Canine"

    def __init__(self, name, age):
        # Instance variables
        self.name = name
        self.age = age

# Create objects
dog1 = Dog("Buddy", 3)
dog2 = Dog("Charlie", 5)

# Access class and instance variables
print(dog1.species)  # (Class variable)
print(dog1.name)     # (Instance variable)
print(dog2.name)     # (Instance variable)

# Modify instance variables
dog1.name = "Max"
print(dog1.name)     # (Updated instance variable)

# Modify class variable
Dog.species = "Feline"
print(dog1.species)  # (Updated class variable)
print(dog2.species)

Canine
Buddy
Charlie
Max
Feline
Feline

# Day 4 : String and Lists

## String

In [90]:
# Craeting, Indexing and updating method of String
s = "GfG"

print(s[1]) # access 2nd char
s1 = s + s[0] # update
print(s1) # print

s = "GeeksforGeeks"
# Accesses 3rd character: 'k'
print(s[-10])  
# Accesses 5th character from end: 'G'
print(s[-5])

f
GfGG
k
G

In [93]:
# Slicing of the String
s = "GeeksforGeeks"

# Retrieves characters from index 1 to 3: 'eek'
print(s[1:4])  

# Retrieves characters from beginning to index 2: 'Gee'
print(s[:3])   

# Retrieves characters from index 3 to the end: 'ksforGeeks'
print(s[3:])   

# Reverse a string
print(s[::-1])

# Trying to change the first character raises an error
# s[0] = 'I'  # Uncommenting this line will cause a TypeError

# Instead, create a new string
s = "G" + s[1:]
print(s)

eek
Gee
ksforGeeks
skeeGrofskeeG
GeeksforGeeks

In [95]:
# Deleting a string
s = "GfG"

# Deletes entire string
del s

In [96]:
# Method to update a string
s = "hello geeks"

# Updating by creating a new string
s1 = "H" + s[1:]

# replacnig "geeks" with "GeeksforGeeks"
s2 = s.replace("geeks", "GeeksforGeeks")
print(s1)
print(s2)

Hello geeks
hello GeeksforGeeks

In [ ]:
# Common Methods
s = "Hello World"

print(len(s)) # giving length

print(s.upper())   # output: HELLO WORLD

print(s.lower())   # output: hello world

# Removes spaces from both ends
print(s.strip())    

s = "Python is fun"

# Replaces 'fun' with 'awesome'
print(s.replace("fun", "awesome"))

# Concatening String
s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
print(s3)

# Formating with F string
name = "Alice"
age = 22
print(f"Name: {name}, Age: {age}")

11
HELLO WORLD
hello world
Hello World
Python is awesome
Hello World

## Lists

In [99]:
# Creating a Python list with different data types
a = [10, 20, "GfG", 40, True]
print(a)

# Accessing elements using indexing
print(a[0])  # 10
print(a[1])  # 20
print(a[2])  # "GfG"
print(a[3])  # 40
print(a[4])  # True

# Checking types of elements
print(type(a[2]))  # str
print(type(a[4]))  # bool

[10, 20, 'GfG', 40, True]
10
20
GfG
40
True
<class 'str'>
<class 'bool'>

In [101]:
# Create a list [2, 2, 2, 2, 2]
a = [2] * 5

# Create a list [0, 0, 0, 0, 0, 0, 0]
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

In [103]:
# Method of adding to the list

# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)  
print("After append(10):", a)  

# Inserting 5 at index 0
a.insert(0, 5)
print("After insert(0, 5):", a) 

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])  
print("After extend([15, 20, 25]):", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]

In [104]:
# Updating to the list
a = [10, 20, 30, 40, 50]

# Change the second element
a[1] = 25 
print(a)

[10, 25, 30, 40, 50]

In [105]:
# Removing from the list
a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30
a.remove(30)  
print("After remove(30):", a)

# Removes the element at index 1 (20)
popped_val = a.pop(1)  
print("Popped element:", popped_val)
print("After pop(1):", a) 

# Deletes the first element (10)
del a[0]  
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [106]:
# Nested list
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Access element at row 2, column 3
print(matrix[1][2])

6

In [107]:
# List comprehension
# Create a list of squares from 1 to 5
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Copies of the List

list1 = [1, 2, 3, 4, 5]
list2 = list1

list2[0] = 0

print("list1=:", list1)
#- list2 = list1 doesnâ€™t create a new list. Instead, both list1 and list2 now point to the same list object in memory.

list1 = [1, 2, 3, 4, 5]
list2 = list1.copy()
# or
list2 = list(list1)
print("list1=:", list1)

list1=: [0, 2, 3, 4, 5]
list1=: [1, 2, 3, 4, 5]

# Day 5:  Python Dictionaries, tuples and Sets

## Dictionaries

In [110]:
# Creating a Dictionary
d1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "Geeks", b = "for", c = "Geeks")
print(d2)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'a': 'Geeks', 'b': 'for', 'c': 'Geeks'}

In [111]:
# Accessing stuff from dictionary
d = { "name": "Prajjwal", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Prajjwal
Prajjwal

In [112]:
# Adding and updating from the dictionry
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'For', 3: 'Geeks', 'age': 22}

In [113]:
# Removing from the dictionary
d = {1: 'Geeks', 2: 'For', 3: 'Geeks', 'age':22}

# Using del to remove an item
del d["age"]
print(d)

# Using pop() to remove an item and return the value
val = d.pop(1)
print(val)

# Using popitem to removes and returns
# the last key-value pair.
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

# Clear all items from the dictionary
d.clear()
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
Geeks
Key: 3, Value: Geeks
{}

In [114]:
# Looping through the dictionary
d = {1: 'Geeks', 2: 'For', 'age':22}

# Iterate over keys
for key in d:
    print(key)

# Iterate over values
for value in d.values():
    print(value)

# Iterate over key-value pairs
for key, value in d.items():
    print(f"{key}: {value}")

1
2
age
Geeks
For
22
1: Geeks
2: For
age: 22

In [115]:
# Shallow copy of the dictionary
import copy
original = {'name': 'Alice', 'marks': {'math': 90, 'science': 95}}

# Create a shallow copy
shallow = copy.copy(original)

# Modify nested value in the copy
shallow['marks']['math'] = 100

print("Original:", original)
print("Shallow Copy:", shallow)

Original: {'name': 'Alice', 'marks': {'math': 100, 'science': 95}}
Shallow Copy: {'name': 'Alice', 'marks': {'math': 100, 'science': 95}}

In [116]:
# Deep copy of the dictionary
import copy
original = {'name': 'Alice', 'marks': {'math': 90, 'science': 95}}

# Create a deep copy
deep = copy.deepcopy(original)

# Modify nested value in the deep copy
deep['marks']['math'] = 100

print("Original:", original)
print("Deep Copy:", deep)

Original: {'name': 'Alice', 'marks': {'math': 90, 'science': 95}}
Deep Copy: {'name': 'Alice', 'marks': {'math': 100, 'science': 95}}

## Tuples

In [ ]:
tup = (5, 'Welcome', 7, 'Geeks')
print(tup)
# Tuple are immutable but they can contain mutable objects

# Creating a Tuple with nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
tup3 = (tup1, tup2)
print(tup3)

# Creating a Tuple with repetition
tup1 = ('Geeks',) * 3
print(tup1)

# Creating a Tuple with the use of loop
tup = ('Geeks')
n = 5
for i in range(int(n)):
    tup = (tup,)
    print(tup)

(5, 'Welcome', 7, 'Geeks')
((0, 1, 2, 3), ('python', 'geek'))
('Geeks', 'Geeks', 'Geeks')
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [119]:
# Accessing Tuple with Indexing
tup = tuple("Geeks")
print(tup[0])

# Accessing a range of elements using slicing
print(tup[1:4])  
print(tup[:3])

# Tuple unpacking
tup = ("Geeks", "For", "Geeks")

# This line unpack values of Tuple1
a, b, c = tup
print(a)
print(b)
print(c)

G
('e', 'e', 'k')
('G', 'e', 'e')
Geeks
For
Geeks

In [120]:
# Deleting the tuple
tup = (0, 1, 2, 3, 4)
del tup

print(tup)

NameError: name 'tup' is not defined

In [121]:
# Tuple Unpacking
tup = (1, 2, 3, 4, 5)

a, *b, c = tup

print(a) 
print(b) 
print(c)

1
[2, 3, 4]
5

## Sets

In [122]:
# typecasting list to set
s = set(["a", "b", "c"])
print(s)

# Adding element to the set
s.add("d")
print(s)

{'c', 'a', 'b'}
{'c', 'a', 'd', 'b'}

In [123]:
# Python program to demonstrate that
# a set cannot have duplicate values 
# and we cannot change its items

# a set cannot have duplicate values
s = {"Geeks", "for", "Geeks"}
print(s)

# values of a set cannot be changed
s[1] = "Hello"
print(s)

{'Geeks', 'for'}

TypeError: 'set' object does not support item assignment

In [124]:
# Python example demonstrate that a set
# can store heterogeneous elements
s = {"Geeks", "for", 10, 52.7, True}
print(s)

{True, 'Geeks', 52.7, 10, 'for'}

In [125]:
# Python program to demonstrate differences
# between normal and frozen set

# Same as {"a", "b","c"}
s = set(["a", "b","c"])

print("Normal Set")
print(s)

# A frozen set
fs = frozenset(["e", "f", "g"])

print("\nFrozen Set")
print(fs)

# Uncommenting below line would cause error as
# we are trying to add element to a frozen set
# fs.add("h")

Normal Set
{'c', 'a', 'b'}

Frozen Set
frozenset({'f', 'e', 'g'})

In [126]:
# A Python program to
# demonstrate adding elements
# in a set

# Creating a Set
people = {"Jay", "Idrish", "Archi"}

print("People:", end = " ")
print(people)

# This will add Daxit
# in the set
people.add("Daxit")

# Adding elements to the
# set using iterator
for i in range(1, 6):
    people.add(i)

print("\nSet after adding element:", end = " ")
print(people)

People: {'Archi', 'Idrish', 'Jay'}

Set after adding element: {1, 2, 3, 4, 5, 'Jay', 'Archi', 'Idrish', 'Daxit'}

In [127]:
# Python Program to
# demonstrate union of
# two sets

people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)

print("Union using union() function")
print(population)

# Union using "|"
# operator
population = people|dracula

print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Arjun', 'Jay', 'Archil', 'Idrish', 'Karan'}

Union using '|' operator
{'Deepanshu', 'Jay', 'Archil', 'Idrish', 'Raju'}

In [128]:
# Python program to
# demonstrate intersection
# of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Intersection using
# intersection() function
set3 = set1.intersection(set2)

print("Intersection using intersection() function")
print(set3)

# Intersection using
# "&" operator
set3 = set1 & set2

print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [129]:
# Python program to
# demonstrate difference
# of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Difference of two sets
# using difference() function
set3 = set1.difference(set2)

print(" Difference of two sets using difference() function")
print(set3)

# Difference of two sets
# using '-' operator
set3 = set1 - set2

print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [130]:
# Python program to
# demonstrate clearing
# of set

set1 = {1,2,3,4,5,6}

print("Initial set")
print(set1)

# This method will remove
# all the elements of the set
set1.clear()

print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

# Day 6 : Python Collections and Comprehensions

## Module

In [131]:
# A Python program to show different 
# ways to create Counter 
from collections import Counter 
  
# With sequence of items  
print(Counter(['B','B','A','B','C','A','B',
               'B','A','C']))
  
# with dictionary 
print(Counter({'A':3, 'B':5, 'C':2}))
  
# with keyword arguments 
print(Counter(A=3, B=5, C=2))

Counter({'B': 5, 'A': 3, 'C': 2})
Counter({'B': 5, 'A': 3, 'C': 2})
Counter({'B': 5, 'A': 3, 'C': 2})

In [132]:
# A Python program to demonstrate working
# of OrderedDict 

from collections import OrderedDict 
  
print("This is a Dict:\n") 
d = {} 
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
  
for key, value in d.items(): 
    print(key, value) 
  
print("\nThis is an Ordered Dict:\n") 
od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
  
for key, value in od.items(): 
    print(key, value)

This is a Dict:

a 1
b 2
c 3
d 4

This is an Ordered Dict:

a 1
b 2
c 3
d 4

In [133]:
# Python program to demonstrate 
# defaultdict 
   
   
from collections import defaultdict 
   
   
# Defining the dict 
d = defaultdict(int) 
   
L = [1, 2, 3, 4, 2, 4, 1, 2] 
   
# Iterate through the list 
# for keeping the count 
for i in L: 
       
    # The default value is 0 
    # so there is no need to  
    # enter the key first 
    d[i] += 1
       
print(d)

defaultdict(<class 'int'>, {1: 2, 2: 3, 3: 1, 4: 2})

In [134]:
# A Python program to demonstrate working
# of OrderedDict 

from collections import OrderedDict 


od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4
  
print('Before Deleting')
for key, value in od.items(): 
    print(key, value) 
    
# deleting element
od.pop('a')

# Re-inserting the same
od['a'] = 1

print('\nAfter re-inserting')
for key, value in od.items(): 
    print(key, value)

Before Deleting
a 1
b 2
c 3
d 4

After re-inserting
b 2
c 3
d 4
a 1

In [135]:
# Python program to demonstrate 
# ChainMap 
   
   
from collections import ChainMap 
   
   
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d3 = {'e': 5, 'f': 6}

# Defining the chainmap 
c = ChainMap(d1, d2, d3) 
   
# Accessing Values using key name
print(c['a'])

# Accessing values using values()
# method
print(c.values())

# Accessing keys using keys()
# method
print(c.keys())

1
ValuesView(ChainMap({'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6}))
KeysView(ChainMap({'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6}))

In [136]:
# Python code to demonstrate namedtuple()
  
from collections import namedtuple
  
# Declaring namedtuple() 
Student = namedtuple('Student',['name','age','DOB']) 
  
# Adding values 
S = Student('Nandini','19','2541997') 
  
# Access using index 
print ("The Student age using index is : ",end ="") 
print (S[1]) 
  
# Access using name  
print ("The Student name using keyname is : ",end ="") 
print (S.name)

The Student age using index is : 19
The Student name using keyname is : Nandini

In [137]:
# Python code to demonstrate namedtuple() and 
# _make(), _asdict()
  

from collections import namedtuple
  
# Declaring namedtuple() 
Student = namedtuple('Student',['name','age','DOB']) 
  
# Adding values 
S = Student('Nandini','19','2541997') 
  
# initializing iterable  
li = ['Manjeet', '19', '411997' ] 
  
# initializing dict 
di = { 'name' : "Nikhil", 'age' : 19 , 'DOB' : '1391997' } 
  
# using _make() to return namedtuple() 
print ("The namedtuple instance using iterable is  : ") 
print (Student._make(li)) 
  
# using _asdict() to return an OrderedDict() 
print ("The OrderedDict instance using namedtuple is  : ") 
print (S._asdict())

The namedtuple instance using iterable is  :
Student(name='Manjeet', age='19', DOB='411997')
The OrderedDict instance using namedtuple is  :
{'name': 'Nandini', 'age': '19', 'DOB': '2541997'}

In [139]:
# Python code to demonstrate deque
  

from collections import deque
  
# Declaring deque
queue = deque(['name','age','DOB']) 
  
print(queue)

deque(['name', 'age', 'DOB'])

In [140]:
# Python code to demonstrate working of  
# append(), appendleft()
  

from collections import deque 
  
# initializing deque 
de = deque([1,2,3]) 
  
# using append() to insert element at right end  
# inserts 4 at the end of deque 
de.append(4) 
  
# printing modified deque 
print ("The deque after appending at right is : ") 
print (de) 
  
# using appendleft() to insert element at right end  
# inserts 6 at the beginning of deque 
de.appendleft(6) 
  
# printing modified deque 
print ("The deque after appending at left is : ") 
print (de)

The deque after appending at right is :
deque([1, 2, 3, 4])
The deque after appending at left is :
deque([6, 1, 2, 3, 4])

In [141]:
# Python program to demonstrate 
# userstring 
   
  
from collections import UserString 
   
  
# Creating a Mutable String 
class Mystring(UserString): 
      
    # Function to append to 
    # string 
    def append(self, s): 
        self.data += s 
          
    # Function to remove from  
    # string 
    def remove(self, s): 
        self.data = self.data.replace(s, "") 
      
# Driver's code 
s1 = Mystring("Geeks") 
print("Original String:", s1.data) 
  
# Appending to string 
s1.append("s") 
print("String After Appending:", s1.data) 
  
# Removing from string 
s1.remove("e") 
print("String after Removing:", s1.data)

Original String: Geeks
String After Appending: Geekss
String after Removing: Gkss

## List Comprehension

In [142]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = [num for num in a if num % 2 == 0]
print(res)

[2, 4, 6, 8]

In [143]:
res = [num**2 for num in range(1, 6)]
print(res)

[1, 4, 9, 16, 25]

In [145]:
res = {num: num**3 for num in range(1, 6)}
print(res)

a = ["Texas", "California", "Florida"] # states
b = ["Austin", "Sacramento", "Tallahassee"] # capital

res = {state: capital for state, capital in zip(a, b)}
print(res)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{'Texas': 'Austin', 'California': 'Sacramento', 'Florida': 'Tallahassee'}

In [146]:
a = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

res = {num for num in a if num % 2 == 0}
print(res)

{2, 4, 6}

In [148]:
res = (num**2 for num in range(1, 6))
print(tuple(res))

(1, 4, 9, 16, 25)

# Day 7 : Error Handling, File Handling and Advanced Python

## Exception handling

In [149]:
# Simple Exception Handling Example
n = 10
try:
    res = n / 0  # This will raise a ZeroDivisionError
    
except ZeroDivisionError:
    print("Can't be divided by zero!")

Can't be divided by zero!

In [ ]:
# Syntax Error (Error)
print("Hello world"  # Missing closing parenthesis

# ZeroDivisionError (Exception)
n = 10
res = n / 0

In [150]:
try:
    n = 0
    res = 100 / n
    
except ZeroDivisionError:
    print("You can't divide by zero!")
    
except ValueError:
    print("Enter a valid number!")
    
else:
    print("Result is", res)
    
finally:
    print("Execution complete.")

You can't divide by zero!
Execution complete.

In [151]:
try:
    x = int("str")  # This will cause ValueError
    
    #inverse
    inv = 1 / x
    
except ValueError:
    print("Not Valid!")
    
except ZeroDivisionError:
    print("Zero has no inverse!")

Not Valid!

In [152]:
a = ["10", "twenty", 30]  # Mixed list of integers and strings
try:
    total = int(a[0]) + int(a[1])  # 'twenty' cannot be converted to int
    
except (ValueError, TypeError) as e:
    print("Error", e)
    
except IndexError:
    print("Index out of range.")

Error invalid literal for int() with base 10: 'twenty'

In [153]:
try:
    # Simulate risky calculation: incorrect type operation
    res = "100" / 20
    
except ArithmeticError:
    print("Arithmetic problem.")
    
except:
    print("Something went wrong!")

Something went wrong!

In [154]:
def set(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except ValueError as e:
    print(e)

Age cannot be negative.

## File Handling

In [157]:
file = open("geeks.txt", "r")
content = file.read()
print(content)
file.close()

Hello, World!

In [156]:
file = open("geeks.txt", "w")
file.write("Hello, World!")
file.close()

In [158]:
with open("geeks.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!

In [159]:
try:
    file = open("geeks.txt", "r")
    content = file.read()
    print(content)
finally:
    file.close()

Hello, World!

In [1]:
# To read a custom section only
target_section = []
capture = False

with open("file.txt", "r") as f:
    for line in f:
        if "### Section 2 ###" in line:
            capture = True
            continue
        elif "### End Section 2 ###" in line:
            break
        if capture:
            target_section.append(line)

print("".join(target_section))

FileNotFoundError: [Errno 2] No such file or directory: 'file.txt'

## Memory Management

In [160]:
x = 10
y = x

if id(x) == id(y):
    print("x and y refer to the same object")

x and y refer to the same object

In [161]:
x = 10
y = x
x += 1

if id(x) != id(y):
    print("x and y do not refer to the same object")

x and y do not refer to the same object

In [162]:
def func(): 
      
    # All these variables get memory  
    # allocated on stack  
    a = 20
    b = [] 
    c = ""

In [163]:
# This memory for 10 integers  
# is allocated on heap.  
a = [0]*10

## Python Regex

In [164]:
# Importing the regex module
import re

s = 'GeeksforGeeks: A computer science portal for geeks'

match = re.search(r'portal', s)

print('Start Index:', match.start())
print('End Index:', match.end())

Start Index: 34
End Index: 40

In [165]:
import re
string = """Hello my Number is 123456789 and
            my friend's number is 987654321"""
regex = '\d+'

match = re.findall(regex, string)
print(match)

['123456789', '987654321']

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\1919262441.py:4: SyntaxWarning: invalid escape sequence '\d'
  regex = '\d+'

In [166]:
import re
p = re.compile('[a-e]')

print(p.findall("Aye, said Mr. Gibenson Stark"))

['e', 'a', 'd', 'b', 'e', 'a']

In [167]:
import re

p = re.compile('\w')
print(p.findall("He said * in some_lang."))

p = re.compile('\w+')
print(p.findall("I went to him at 11 A.M., he \
said *** in some_language."))

p = re.compile('\W')
print(p.findall("he said *** in some_language."))

['H', 'e', 's', 'a', 'i', 'd', 'i', 'n', 's', 'o', 'm', 'e', '_', 'l', 'a', 'n', 'g']
['I', 'went', 'to', 'him', 'at', '11', 'A', 'M', 'he', 'said', 'in', 'some_language']
[' ', ' ', '*', '*', '*', ' ', ' ', '.']

<>:3: SyntaxWarning: invalid escape sequence '\w'
<>:6: SyntaxWarning: invalid escape sequence '\w'
<>:10: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\w'
<>:6: SyntaxWarning: invalid escape sequence '\w'
<>:10: SyntaxWarning: invalid escape sequence '\W'
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\928066281.py:3: SyntaxWarning: invalid escape sequence '\w'
  p = re.compile('\w')
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\928066281.py:6: SyntaxWarning: invalid escape sequence '\w'
  p = re.compile('\w+')
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\928066281.py:10: SyntaxWarning: invalid escape sequence '\W'
  p = re.compile('\W')

In [168]:
import re
p = re.compile('ab*')
print(p.findall("ababbaabbb"))

['ab', 'abb', 'a', 'abbb']

In [169]:
from re import split

print(split('\W+', 'Words, words , Words'))
print(split('\W+', "Word's words Words"))
print(split('\W+', 'On 12th Jan 2016, at 11:02 AM'))
print(split('\d+', 'On 12th Jan 2016, at 11:02 AM'))

['Words', 'words', 'Words']
['Word', 's', 'words', 'Words']
['On', '12th', 'Jan', '2016', 'at', '11', '02', 'AM']
['On ', 'th Jan ', ', at ', ':', ' AM']

<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:4: SyntaxWarning: invalid escape sequence '\W'
<>:5: SyntaxWarning: invalid escape sequence '\W'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:4: SyntaxWarning: invalid escape sequence '\W'
<>:5: SyntaxWarning: invalid escape sequence '\W'
<>:6: SyntaxWarning: invalid escape sequence '\d'
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\3103990465.py:3: SyntaxWarning: invalid escape sequence '\W'
  print(split('\W+', 'Words, words , Words'))
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\3103990465.py:4: SyntaxWarning: invalid escape sequence '\W'
  print(split('\W+', "Word's words Words"))
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\3103990465.py:5: SyntaxWarning: invalid escape sequence '\W'
  print(split('\W+', 'On 12th Jan 2016, at 11:02 AM'))
C:\Users\nvngr\AppData\Local\Temp\ipykernel_15076\3103990465.py:6: SyntaxWarning: invalid escape sequence '\d'
  print(split('\d+', 'On 12th Jan 2016, at 11:02 AM'))

In [170]:
import re

# Case-insensitive replacement of all 'ub'
print(re.sub('ub', '~*', 'Subject has Uber booked already', flags=re.IGNORECASE))

# Case-sensitive replacement of all 'ub'
print(re.sub('ub', '~*', 'Subject has Uber booked already'))

# Replace only the first 'ub', case-insensitive
print(re.sub('ub', '~*', 'Subject has Uber booked already', count=1, flags=re.IGNORECASE))

# Replace "AND" with "&", ignoring case
print(re.sub(r'\sAND\s', ' & ', 'Baked Beans And Spam', flags=re.IGNORECASE))

S~*ject has ~*er booked already
S~*ject has Uber booked already
S~*ject has Uber booked already
Baked Beans & Spam

In [171]:
import re

# Case-sensitive replacement
print(re.subn('ub', '~*', 'Subject has Uber booked already'))

# Case-insensitive replacement
t = re.subn('ub', '~*', 'Subject has Uber booked already', flags=re.IGNORECASE)
print(t)
print(len(t))      # tuple length
print(t[0])        # modified string

('S~*ject has Uber booked already', 1)
('S~*ject has ~*er booked already', 2)
2
S~*ject has ~*er booked already

In [172]:
import re

print(re.escape("This is Awesome even 1 AM"))
print(re.escape("I Asked what is this [a-9], he said \t ^WoW"))

This\ is\ Awesome\ even\ 1\ AM
I\ Asked\ what\ is\ this\ \[a\-9\],\ he\ said\ \	\ \^WoW

In [173]:
import re

regex = r"([a-zA-Z]+) (\d+)"
match = re.search(regex, "I was born on June 24")

if match:
    print("Match at index %s, %s" % (match.start(), match.end()))
    print("Full match:", match.group(0))
    print("Month:", match.group(1))
    print("Day:", match.group(2))
else:
    print("The regex pattern does not match.")

Match at index 14, 21
Full match: June 24
Month: June
Day: 24

In [174]:
import re

s = 'geeks.forgeeks'

# without using \
match = re.search(r'.', s)
print(match)

# using \
match = re.search(r'\.', s)
print(match)

<re.Match object; span=(0, 1), match='g'>
<re.Match object; span=(5, 6), match='.'>

In [175]:
import re

string = "The quick brown fox jumps over the lazy dog"
pattern = "[a-m]"
result = re.findall(pattern, string)

print(result)

['h', 'e', 'i', 'c', 'k', 'b', 'f', 'j', 'm', 'e', 'h', 'e', 'l', 'a', 'd', 'g']

In [176]:
import re
regex = r'^The'
strings = ['The quick brown fox', 'The lazy dog', 'A quick brown fox']
for string in strings:
    if re.match(regex, string):
        print(f'Matched: {string}')
    else:
        print(f'Not matched: {string}')

Matched: The quick brown fox
Matched: The lazy dog
Not matched: A quick brown fox

In [177]:
import re

s = "Welcome to GeeksForGeeks"

res = re.search(r"\bGee", s)

print(res.start())
print(res.end())
print(res.span())

11
14
(11, 14)

In [178]:
import re


# Beginning of String
match = re.search(r'^Geek', 'Campus Geek of the month')
print('Beg. of String:', match)

match = re.search(r'^Geek', 'Geek of the month')
print('Beg. of String:', match)

# End of String
match = re.search(r'Geeks$', 'Compute science portal-GeeksforGeeks')
print('End of String:', match)

Beg. of String: None
Beg. of String: <re.Match object; span=(0, 4), match='Geek'>
End of String: <re.Match object; span=(31, 36), match='Geeks'>

In [179]:
import re

print('Color',re.search(r'colou?r', 'color')) 
print('Colour',re.search(r'colou?r', 'colour'))

Color <re.Match object; span=(0, 5), match='color'>
Colour <re.Match object; span=(0, 6), match='colour'>

In [180]:
import re

print(re.sub(r'([\d]{4})-([\d]{4})-([\d]{4})-([\d]{4})',r'\1\2\3\4',
             '1111-2222-3333-4444'))

1111222233334444

## Iterators in python

In [181]:
s = "GFG"
it = iter(s)

print(next(it))
print(next(it))
print(next(it))

G
F
G

In [182]:
class EvenNumbers:
    def __iter__(self):
        self.n = 2  # Start from the first even number
        return self

    def __next__(self):
        x = self.n
        self.n += 2  # Increment by 2 to get the next even number
        return x

# Create an instance of EvenNumbers
even = EvenNumbers()
it = iter(even)

# Print the first five even numbers
print(next(it))  
print(next(it)) 
print(next(it))  
print(next(it)) 
print(next(it))

2
4
6
8
10

In [183]:
li = [100, 200, 300]
it = iter(li)

# Iterate until StopIteration is raised
while True:
    try:
        print(next(it))
    except StopIteration:
        print("End of iteration")
        break

100
200
300
End of iteration

## Generators in Python

In [184]:
def fun(max):
    cnt = 1
    while cnt <= max:
        yield cnt
        cnt += 1

ctr = fun(5)
for n in ctr:
    print(n)

1
2
3
4
5

In [185]:
def fun():
    yield 1            
    yield 2            
    yield 3            
 
# Driver code to check above generator function
for val in fun(): 
    print(val)

1
2
3

In [186]:
def fun():
    return 1 + 2 + 3

res = fun()
print(res)

6

In [187]:
sq = (x*x for x in range(1, 6))
for i in sq:
    print(i)

1
4
9
16
25